h1{
    color: red;
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

#fig{
    color: red;
    fornt size: 24px;
}

.parag{
    text-align:center
}

#secparag{
    front-size: 10px;
}
